<nav class="navbar">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="nav-Home" class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Curriculum</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/pages/selection.html?id=warmups">Warmups</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=single-techniques">Single Techniques</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=technique-sequences">Technique Sequences</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=activities">Activities</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=games">Games</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Weekly Themes</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/pages/selection.html?id=footwork">Footwork</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=combinations">Combinations</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=kicking">Kicking</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=defense">Defense</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=conditioning">Conditioning</a></li>
                <li><a class="dropdown-item" href="/pages/selection.html?id=grappling">Grappling</a></li>
            </ul>
        </li>
        
    </ul>
</nav>